<div id="NewFolderModal" class="modal hide fade form-horizontal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Новая папка</h3>
  </div>

  <div class="modal-body well">
    <%= semantic_form_for(new_folder) do |f| %>
        <%= f.inputs do %>
            <%= f.input :folder_name, :label=>"Название", :as => :text, :input_html => { :class => 'autogrow', :rows => 4, :maxlength => 100 }, :required => true %>
        <% end %>
        <%= button_to 'Сохранить', new_folder, :method => :create, :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>