<div id="NewCalendarModal" class="modal hide fade form-horizontal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Новый календарь</h3>
  </div>

  <div class="modal-body well">
    <%= semantic_form_for(new_calendar) do |f| %>
       <%= f.inputs do %>
         <%= f.input :calendar_name, :label=>"Название", :as => :text, :input_html => { :class => 'autogrow', :rows => 4, :maxlength => 100 } %>
       <% end %>
       <%= button_to 'Сохранить', calendars_path(new_calendar), :class => 'btn btn-primary', :remote => true %>
    <% end %>
  </div>
</div>