  <div class="note_message">
      В данном окне отображаются все задания фирмы. Создавайте/изменяйте/удаляйте задания для сотрудников фирмы.
   </div>
  <br/>
  <%= netzke :all_tasks_grid,
      :class_name => "AllTasksGrid",
  %>

  <%= raw(Helper.get_chat_script(current_user)) %>