<br/>
<%= raw(Helper.get_chat_script(current_user)) %>
<div class="note_message">
    Зайдите в данное окно и оставайтесь в нем некоторое время (до 1мин.). Автоматически Вы увидите себя, а также сотрудников фирмы, учавствующих в конференции (сотрудники, зашедшие в это окно)
</div>
<div id="videobox">

</div>
<script src="http://static.opentok.com/v0.91/js/TB.min.js" type="text/javascript"></script>
<script type="text/javascript">
	var apiKey = '11739502';
	var sessionId = "<%= @room.session_id %>";
	var token = "<%= @tok_token %>";

    /*var apiKey = '11739502';
    var sessionId = '1_MX4xMjMyMDgxfjcwLjQyLjQ3Ljc4fjIwMTItMDItMDggMDc6MDI6MTQuNjYxMjI5KzAwOjAwfjAuMDEwNjcwMTQzMTE1Nn4';
    var token = 'devtoken';

    TB.setLogLevel(TB.DEBUG); // Set this for helpful debugging messages in console

    var session = TB.initSession(sessionId);
    session.addEventListener('sessionConnected', sessionConnectedHandler);
    session.connect(apiKey, token);

    function sessionConnectedHandler(event) {
      alert('Hello world. I am connected to OpenTok :).');
    } */

	var session;

	TB.addEventListener('exception', exceptionHandler);
	session = TB.initSession(sessionId);

	//Video chat event listeners
	session.addEventListener('sessionConnected', sessionConnectedHandler);
	session.addEventListener('streamCreated', streamCreatedHandler);
    session.addEventListener('streamDestroyed', streamDestroyedHandler);

	session.connect(apiKey, token);
</script>
