<div id="new_ev">
<%= semantic_form_for(@worker) do |f| %>
    <%= f.inputs do %>
        <%= f.input :name, :as => :string, :label => "Событие", :required => true %>
        <%= f.input :start_at, :as => :string, :type => :datetime,  :label => "Дата начала", :required => true %>
    <% end %>
<% end %>
</div>
