  <div class="note_message">
      В данном окне отображаются выполненные задания фирмы. Создавайте/изменяйте/удаляйте задания для сотрудников фирмы.
   </div>
<%= netzke :done_tasks_grid,
    :class_name => "DoneTasksGrid",
%>

<%= raw(Helper.get_chat_script(current_user)) %>