<!DOCTYPE html>
<html>
<head>
  <%= render :partial => 'layouts/html_head' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main">
    <h1><%= t('application.title') %></h1>
    <%= yield %>
</div>
</body>
</html>
